<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321614595316-ha7b7os5deub1hrh3gunuvaf4kfhcrcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321614595316-ha7b7os5deub1hrh3gunuvaf4kfhcrcs</string>
	<key>API_KEY</key>
	<string>AIzaSyCkW3UAnb8jRF8VJggYD69Apyb8GZYY7LY</string>
	<key>GCM_SENDER_ID</key>
	<string>321614595316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shingekinoshinkenn</string>
	<key>PROJECT_ID</key>
	<string>momotake-2f30b</string>
	<key>STORAGE_BUCKET</key>
	<string>momotake-2f30b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321614595316:ios:5bd921f114eb8f4c58caa1</string>
</dict>
</plist>